#logo {
	color:#9fa0a9;
	font-family: 'Open Sans', sans-serif;
}
.logo {
	font-size: 2em;
	color:white;
}
.navbar {
	min-height: 80px;
}
.under {
	padding-top:20px;
}
.landing p {
font-family: 'Roboto', sans-serif;
}
.landing h3 {
font-family: 'Roboto', sans-serif;
}
.bounce-chevron {
	color: white;
	font-size: 4em;
	text-align: center;

}
#bounce-chevron {
	text-align: center;
	-vendor-animation-duration: 5s;
	-vendor-animation-delay: 2s;
	-vendor-animation-iteration-count: 10;
}
.navbar-brand {
	padding: 0 15px; 
	height: 80px; 
	line-height: 80px;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    font-size: 1.4em;
}
.navbar-nav > li > p {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    font-size: 1.4em;
}
.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}
.navbar-nav > li > input {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    border-radius:0px;
}

.navbar {
    background-color: rgba(20,29,33,1);
}
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: black;

}
.landing {
	text-align: left;
	margin:auto;
}
.landing h3{
	font-size: 6em;
}
.landing p{
	font-size: 2em;
	color: white;
}
#white {
	color:white !important;
}
.landing-top {
	padding-top: 100px;
	height:100%;
	background-color: rgba(0,0,0,0.2)
}
.background-col {
	background-color: rgba(0, 0, 0, 0.5);
}
.product {
	height: 100%;
	text-align: center;
	background-color: #f4f4f4;
	width: 100%;
}
.tagline {
	font-family: 'Lobster', cursive !important;
}
.landing-panel {
	position: absolute;
	bottom: 70px;
}
.photos {
	height: 891px;
	text-align: center;
	background-color: rgba(245, 245, 245, 1);
	width: 100%;
}
.features {
	width: 100%;
	text-align: center;
	background-color: rgba(26, 39, 42, 1);

}

#popup {
	width: 400px;
	color: #303f4d;
	display: none;
	z-index: -5;
}
.background2 {
	height:100%;
	text-align: center;
	position:relative;   
}
.title-features {
	background-color: #f4f4f4;
	margin-top:0px;
	color: black;
	padding-top: 40px;
	padding-bottom:10px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 10px 6px -6px #000;
	-moz-box-shadow: 0 10px 6px -6px #000;
	box-shadow: 0 10px 6px -6px #000;
}
.rowbreak {
	background-color: rgba(26, 39, 42, 1);
	height:140px;
	width:100%;
}
.picture {
	background-color: rgba(26, 39, 42, 1);
	  position: relative;

}
.info {
	background-color: #f4f4f4;
	//-webkit-box-shadow: 0 10px 6px -6px #000;
	//   -moz-box-shadow: 0 10px 6px -6px #000;
	//        box-shadow: 0 10px 6px -6px #000;
	padding:30px;
}
.info p{
	font-size: 20px;
}
.info h2{
	font-size: 36px;

}
.border-top-left {
	border-top-left-radius: 6px;
}
.border-bottom-right {
	border-bottom-right-radius: 6px;
}
.border-top-right {
	border-top-right-radius: 6px;
}
.border-bottom-left {
	border-bottom-left-radius: 6px;
}

.row {
	height:300px;
	background-color: rgba(26, 39, 42, 1);
	text-align: center;
	color: black;
}
.picture, .info {
	height:100%;
}
.img-center {
  	position: absolute;
  	top: 50%;
  	transform: translate(-50%,-50%);
  	max-width: 99%;
  	overflow:hidden;
}

