#logo {
	color:#9fa0a9;
	font-family: 'Open Sans', sans-serif;
}
.logo {
	font-size: 2em;
	color:white;
}
.navbar {
	min-height: 80px;
}
.under {
	padding-top:20px;
}
.landing p {
font-family: 'Roboto', sans-serif;
}
.landing h3 {
font-family: 'Roboto', sans-serif;
}
.bounce-chevron {
	color: white;
	font-size: 4em;
	text-align: center;

}
#bounce-chevron {
	text-align: center;
	-vendor-animation-duration: 5s;
	-vendor-animation-delay: 2s;
	-vendor-animation-iteration-count: 10;
}
.navbar-brand {
	padding: 0 15px; 
	height: 80px; 
	line-height: 80px;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    font-size: 1.4em;
}
.navbar-nav > li > p {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    font-size: 1.4em;
}
.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}
.navbar-nav > li > input {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    border-radius:0px;
}

.navbar {
    background-color: rgba(20,29,33,1);
}
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: #141d21;

}
.landing {
	text-align: left;
	margin:auto;
}
.landing h3{
	font-size: 6em;
}
.landing p{
	font-size: 2em;
	color: white;
}
#white {
	color:white !important;
}
.landing-top {
	padding-top: 100px;
	height:100%;
	background-color: rgba(0,0,0,0.2)
}
.background-col {
	background-color: rgba(0, 0, 0, 0.5);
}
.product {
	height: 100%;
	text-align: center;
	background-color: #f4f4f4;
	width: 100%;
}
.tagline {
	font-family: 'Lobster', cursive !important;
}
.landing-panel {
	position: absolute;
	bottom: 70px;
}
.photos {
	height: 891px;
	text-align: center;
	background-color: rgba(245, 245, 245, 1);
	width: 100%;
}
.features {
	width: 100%;
	text-align: center;
	background-color: rgba(26, 39, 42, 1);
}
.background2 {
	height:100%;
	text-align: center;
	position:relative;   
}
.title-features {
	background-color: #f4f4f4;
	margin-top:0px;
	color: black;
	padding-top: 40px;
	padding-bottom:10px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 10px 6px -6px #000;
	-moz-box-shadow: 0 10px 6px -6px #000;
	box-shadow: 0 10px 6px -6px #000;
}
.img-center {
  	max-width: 99%;
  	overflow:hidden;
	  	border-radius: 10px;

}
.feature {
	background-color: #1a272a;
	color: #FFFFFF;
	padding: 20px 100px;
	margin: 40px 0 40px 0;
	border-radius: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	border: 1px solid transparent;
}
.feature-text p{
	font-size: 18px;
	color: #d6d6d6;
}

